<!DOCTYPE html>
<html>
<head>
    <title>Resultados de la búsqueda</title>
</head>
<body>
    <h1>Resultados de la búsqueda</h1>

    <form method="get" action="{% url 'search' %}">
        <input type="text" name="query" placeholder="Escribe tu consulta en lenguaje natural">
        <input type="submit" value="Buscar">
    </form>

    <ul>
        {% for crime in query %}
            <li>{{ crime }}</li>
        {% empty %}
            <li>Algo salió mal. Intente con una búsqueda similar.</li>
        {% endfor %}
    </ul>
</body>
</html>
