body {
    background-image: url('../IMGS/backg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #1a1a1a;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra suave al contenedor */
}

.container-light {
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(174, 243, 241, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(174, 243, 241, 0.3);/* Agrega una sombra suave al contenedor */
}
h1 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
    display: flex; /* Hace que los elementos del formulario estén en línea */
    align-items: center; /* Centra verticalmente los elementos del formulario */
}

input[type="text"] {
    flex: 1; /* El campo de búsqueda ocupa todo el espacio disponible */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none; /* Elimina el contorno al hacer clic en el campo */
}

input[type="submit"] {
    background-color: #0a1e9f; /* Cambia el color de fondo del botón a rojo */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px; /* Agrega un espacio entre el campo y el botón */
    cursor: pointer;
    transition: background-color 0.3s; /* Agrega una transición suave al color de fondo */
}

input[type="submit"]:hover {
    background-color: #2970ea; /* Cambia el color de fondo al pasar el mouse por encima */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #333;
    color: #fff;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #444;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

.info-button {
    background-color: #007BFF; /* Color de fondo para el botón de información */
    color: #fff;
    border: none;
    border-radius: 50%; /* Hace que el botón sea circular */
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.info-button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse por encima */
}

/* Define a CSS class for the button */
.btn {
    background-color: #0a1e9f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none; /* Remove underline for anchor links */
    display: inline-block; /* Make it an inline block element */
}

.btn:hover {
    background-color: #2970ea;
}

/* Define a custom CSS class for the <a> tag */
.custom-link {
    color: #0077b6; /* Change text color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Apply bold font weight */
    padding: 2px 4px; /* Add some padding */
    background-color: #f3f3f3; /* Set a background color */
    border: 1px solid #0077b6; /* Add a border */
    border-radius: 2px; /* Apply rounded corners */
}

.custom-link:hover {
    background-color: #0077b6; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}
